:root {
	/*Primary*/
	--orange: hsl(25, 97%, 53%);

	/*Neutral*/
	--lightGrey: hsl(217, 12%, 64%);
	--mediumGrey: hsl(216, 12%, 54%);
	--darkBlue: hsl(213, 19%, 18%);
	--veryDarkBlue: hsl(216, 12%, 8%);
}

#container {
	background: linear-gradient(var(--darkBlue) 0%, var(--veryDarkBlue) 95%);
	width: 95%;
	padding: 2em;
	border-radius: 5%;
}

#icon {
	width: 13%;
	background-color: var(--darkBlue);
	border-radius: 50%;
	padding: 1em 0.1em 0.5em 1em;
}

#icon img{
	width: 50%;
	margin-left: 0.2em;
	margin-bottom: 0.2em;
}

#textContainer {
	margin-bottom: 2em;
}

#textContainer p {
	color: var(--lightGrey);
	line-height: 1.3em;
}

#vote {
	margin-bottom: 1.5em;
}

.voteOpt {
	background-color: var(--darkBlue);
	border-radius: 50%;
	color: var(--lightGrey);
	width: 3.6em;
	height: 3.6em;
	border: none;
	margin-right: 0.5em;
}

footer button {
	background-color: var(--orange);
	width: 100%;
	color: white;
	font-size: 15px;
	border-radius: 6em;
	border: none;
	height: 3em;
}
