:root {
	/*Primary*/
	--orange: hsl(25, 97%, 53%);

	/*Neutral*/
	--lightGrey: hsl(217, 12%, 64%);
	--mediumGrey: hsl(216, 12%, 54%);
	--darkBlue: hsl(213, 19%, 18%);
	--veryDarkBlue: hsl(216, 12%, 8%);
}

#container {
	background: linear-gradient(var(--darkBlue) 0%, var(--veryDarkBlue) 95%);
	width: 60%;
	padding: 2em;
	border-radius: 3em;
}

#icon {
	width: 100%;
	display: flex;
	justify-content: center;
}

#icon img{
	width: 40%;
}

#textContainer {
	text-align: center;
	margin-top: 2em;
}

#textContainet h2 {
	margin-bottom: 1.5em;
}

#textContainer p {
	color: var(--lightGrey);
	line-height: 1.3em;

}

#showVote p {
	color: var(--orange);
	background-color: var(--darkBlue);
	width: 50%;
	text-align: center;
	height: 1.8em;
	border-radius: 5em;
	padding-top: 0.6em;
	margin-left: 7.2em;
}


@media (max-width: 375px) {
	#container {
		width: 95%;
		border-radius: 5%;
	}

	#icon {
		width: 100%;
		margin-left: 0;
	}

	#textContainer p {
		font-size: 15px;
	}

	#showVote p {
		width: 70%;
		height: 1.5em;
		font-size: 15px;
		margin-left: 3.5em;
		padding-top: 0.5em;
	}
}
